.root {
  -fx-background-color: #F0F0F0;
  -fx-font-family: "Segoe UI";
}

.user-bubble {
  -fx-background-color: #DCF8C6;
  -fx-background-radius: 20 20 0 20;
  -fx-font-size: 14;
  -fx-padding: 10;
  -fx-border-color: #C5E1A5;
  -fx-border-width: 1;
  -fx-border-radius: 20 20 0 20;
}

.bot-bubble {
  -fx-background-color: #FFFFFF;
  -fx-background-radius: 20 20 20 0;
  -fx-font-size: 14;
  -fx-padding: 10;
  -fx-border-color: #E0E0E0;
  -fx-border-width: 1;
  -fx-border-radius: 20 20 20 0;
}

.text-field {
  -fx-background-radius: 10;
}

.button {
  -fx-background-radius: 10;
}
