.root {
    -fx-background-color: #F0F0F0;
    -fx-font-family: "Segoe UI";
}

.sent-message {
    -fx-background-color: #AEE6AA;
    -fx-text-fill: #000000;
    -fx-background-radius: 16 16 0 16;
    -fx-font-size: 14;
    -fx-padding: 10;
    -fx-border-color: #98D59B;
    -fx-border-width: 1;
    -fx-border-radius: 16 16 0 16;
}
.image-view {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0, 0, 2);
    -fx-background-radius: 10;
}


.received-message {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
    -fx-background-radius: 16 16 16 0;
    -fx-font-size: 14;
    -fx-padding: 10;
    -fx-border-color: #E0E0E0;
    -fx-border-width: 1;
    -fx-border-radius: 16 16 16 0;
}

.text-field {
    -fx-background-radius: 10;
}

.button {
    -fx-background-radius: 10;
}
