/*.chatpan{*/
/*    -fx-background-color: #AD1A4D;*/
/*}*/

/*.chat-box{*/
/*    -fx-background-color: #BA2200;*/
/*    -fx-min-height: 400px;*/
/*    -fx-min-width: 200px;*/
/*}*/

/*.label{*/
/*    -fx-background-color: #FC7400;*/
/*    -fx-text-fill: white;*/
/*    -fx-pref-height: 20px;*/
/*    -fx-pref-width: 200px;*/
/*}*/

/*.button{*/
/*    -fx-background-color: #FC7400;*/
/*    -fx-text-fill: white;*/
/*    !*-fx-pref-height: 25px;*/
/*    -fx-pref-width: 50px;*/
/*    !*-fx-translate-x: 75;*/
/*    -fx-translate-y: 410;*!*/
/*}*/