
/*
styles.css
 */
.root {
    -fx-background-color: #ffffff, linear-gradient(to bottom, #8b0000, #ffd700);
    -fx-background-insets: 0, 4;
    -fx-background-radius: 0, 3;

}
.list-view {
    -fx-background-color: transparent; /* Make background transparent */
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-border-color: transparent;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}
.list-cell{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-control-inner-background: transparent;
    -fx-font-size: 14;
}
/* Remove background and border on hover */
.list-cell:filled:hover {
    -fx-background-color: #e0e0e0;
    -fx-text-fill: #000000;
}

.list-cell:filled:selected {

    -fx-background-color: #007bff;
    -fx-text-fill: white;

    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 0);
}

.list-cell:filled:selected .text {
    -fx-font-weight: bold;
}
.text-area{
    -fx-control-inner-background: transparent;
    -fx-padding: 5px 7px;
    -fx-text-fill: black;
    -fx-font-size: 14;

    -fx-border-radius: 8px;
    -fx-background-color: transparent;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 0);
}
.button{
    -fx-background-color: #007bff;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 5px;
}
.button:hover{
    -fx-background-color: #0056b3;
}