.root {
    -fx-background-image: url("../background.png");
    -fx-background-size: cover;
}
.outlined-text {
    -fx-front-size:40px;
    -fx-stroke: white;
    -fx-fill: black;
    -fx-stroke-width: 1px

}