
/*
styles.css
 */
.root {
    -fx-background-color:
    linear-gradient(to bottom,
            rgba(0,0,0,0.1) 0%,
            rgba(0,0,0,0) 10%),
    linear-gradient(to bottom,
            #8b0000 30%,
            #ffd700 100%);
    -fx-background-insets: 0, 4;
    -fx-background-radius: 0, 3;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 0, 0)

}
.list-view {
    -fx-background-color: transparent; /* Make background transparent */
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-border-color: transparent;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}
.list-cell{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-control-inner-background: transparent;
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-padding: 5 10 5 10;
}
.text-area{
    -fx-control-inner-background: #FFFFFF;
    -fx-padding: 5px 7px;
    -fx-text-fill: black;
    -fx-font-size: 14;

    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-background-color: transparent;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 0);
}
.text-area .content, .viewport {
    -fx-background-radius: 8;
    -fx-border-radius: 8;
}
.button{
    -fx-background-color: #610202;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-padding: 10 15 10 15;
    -fx-background-radius: 5px;
    -fx-border-radius: 8px;
}
.button:hover{
    -fx-background-color: #400101;
}